<div class="login-page">
    <div class="content">
        <h1>Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="username">Usuário</label>
            <input type="text" name="username" formControlName="username">
            <label for="password">Senha</label>
            <input type="password" name="password" formControlName="password">
            @if(this.loginError){
            <p class="error">Erro ao fazer Login</p>
            }

            <button type="submit">Entrar</button>
        </form>

        <a href="" routerLink="/register">Cadastre-se</a>
    </div>

    <div class="image-container">
        <div class="background"></div>

        <img src="../../assets/login.jpg" alt="">

    </div>
</div>