:host{
    width: 100%;
}

.login-page{
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 32px;
    .content{
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 50%;
        padding: 12px;

        h1{
            align-self: center;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-block-end: 12px;
        }
    }
    .image-container{
        width: 50%;
        
       
        img{
            border-radius: 10px;
            width: 100%;
            height: 80%;
            
        }
    }
}

.register-page{
    display: flex;
    width: 100%;
    height: 90vh;
    
    .content{
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 50%;
        padding: 12px;

        h1{
            align-self: center;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-block-end: 12px;
        }
    }
    .image-container{
        width: 50%;
        padding: 24px;
        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}